.background-page {
  background: var(--gray-very-light);
}

.card-header {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.9) 100%
    ),
    url("../../assets/images/signInOrange.svg") no-repeat center;
  background-size: 110%;
  padding: 1rem;
}

.card-header img {
  width: 100%;
  overflow: hidden;
}

.card-header h3 {
  font: 700 2.5rem Nunito, sans-serif;
  color: var(--blue-dark);
  text-align: center;
}

.card-body h3 {
  font: 700 1.5rem Nunito, sans-serif;
  color: var(--blue-dark);
  text-align: left;
}

.card-footer {
  background: vaf(--white);
  border: none;
}

.card-footer a,
.link a {
  color: var(--orange);
}

.card-footer a:hover,
.link a {
  color: var(--blue-dark);
}
