<h1 class="mt-4">Stories</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class="container">
  <form #storyForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID:</label>
          <input type="text" class="form-control" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Story Number</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="story.storyNumber"
              name="storyNumber"
            />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Title</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="story.title"
              name="title"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-save">Salvar</i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
