<div class="title row">
  <div class="icon">
    <i class="far fa-bookmark"></i>
  </div>
  <h1 class="mt-4">
    {{ story.id ? "Editar História" : "Cadastrar História" }}
  </h1>
</div>
<div>
  <form #storyForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Número da História</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="story.storyNumber"
            name="storyNumber"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Título</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="story.title"
            name="title"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 btn-box">
        <button type="submit" class="btn btn-itau" *ngIf="!story.id">
          <i class="fas fa-paper-plane"></i> Salvar
        </button>

        <button type="submit" class="btn btn-itau" *ngIf="story.id">
          <i class="fas fa-sync-alt"></i> Atualizar
        </button>
      </div>
      <div class="col-md-2 btn-box">
        <button
          type="button"
          class="btn btn-danger"
          (click)="voltarParaListagem()"
        >
          <i class="fas fa-arrow-alt-circle-left"></i> Voltar
        </button>
      </div>
    </div>
  </form>
</div>
