<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading"></div>
        <a class="nav-link" routerLink="/home"
          ><div class="sb-nav-link-icon">
            <i class="fas fa-home"></i>
          </div>
          Home</a
        >
        <a class="nav-link" routerLink="/stories-list"
          ><div class="sb-nav-link-icon">
            <i class="fas fa-bookmark"></i>
          </div>
          Histórias</a
        >
      </div>
    </div>
  </nav>
</div>
