<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading"></div>
        <a class="nav-link" routerLink="/stories/stories-list"
          ><div class="sb-nav-link-icon">
            <i class="fas fa-bookmark"></i>
          </div>
          Histórias</a
        >
        <a class="nav-link" routerLink="/tasks/tasks-list"
          ><div class="sb-nav-link-icon">
            <i class="fas fa-clone"></i>
          </div>
          Todas as Tasks</a
        >
        <a class="nav-link" routerLink="/files/files-form"
          ><div class="sb-nav-link-icon">
            <i class="fas fa-download"></i>
          </div>
          Baixar arquivos</a
        >
      </div>
    </div>
  </nav>
</div>
