<div class="title row">
  <div class="icon">
    <i class="far fa-clone"></i>
  </div>
  <h1 class="mt-4">Listagem de Tasks</h1>
</div>
<div>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert">succedd</div>

      <div class="alert alert-danger" role="alert">erro</div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-2 btn-box">
      <button class="btn btn-itau">
        <i class="fa fa-plus"></i> Novo Cadastro
      </button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>IssueType</th>
            <th>Título</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>teste</td>
            <td>teste</td>
            <td class="d-flex justify-content-end">
              <button
                class="btn btn-primary"
                routerLink="/stories/stories-form/*"
              >
                <i class="fa fa-edit"></i>
              </button>

              <button
                class="btn btn-danger ml-2"
                data-toggle="modal"
                data-target="#modalDelecao"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação</h4>
        </div>
        <div class="modal-body">Confirma a deleção da task</div>
        <div class="modal-footer">
          <button class="btn btn-success" data-dismiss="modal">
            Confirmar
          </button>
          <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
